* {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova Extra Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    background-color: #001E4C;
    color: #fff;
    padding: 30px 15%;
}

.footer {
    background: #001E4C;
    color: #fff;
}

.footer-content {
    padding: 0 15%;
    text-align: center;
}

.header-content {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.main {
    padding: 30px 15%;
    background-color: #001E4C;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    width: 100%;
}

#logo {
    width: 10%;
}

#logo-holder {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
}

#uofa-logo {
    width: 75%;
}

.desc {
    color: #AB0520;
    font-size: 300%;
    font-weight: bold;
    width: 40%;
}

.uofa-logo-holder {
    width: 30%;
    display: flex;
    justify-content: end;
}